/* TODO: Quitar estilos que no se usen */

.App {
  text-align: center;
  min-width: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#light {
  background-color: #FFF;
}

#dark {
  background-color: #3f3f3f;
  color: #FFF;
}

#light .register {
  background-color: #d8d8d8;
}

#dark .register {
  background-color: #FFF;
}

#light .newsContainer {
  background-color: #d8d8d8;
}

/* START Label de TextField Buscador */
#dark .custom-textfield .MuiInputLabel-root {
  color: #d8d8d8;
}

#dark .custom-textfield .MuiInputBase-input {
  color: #FFF;
}

#light .custom-textfield .MuiInputLabel-root {
  color: #3f3f3f;
}

#light .custom-textfield .MuiInputBase-input {
  color: #000;
}

/* END Label de TextField Buscador */

.center {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.items {
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 0 auto;
}

.item {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
}

.item img {
  height: 250px;
  width: auto;
  object-fit: contain;
}

.aboutTxt {
  margin: 20px;
  text-align: justify;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.addButtonInWin {
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 40px;
}

.space {
  width: 20px;
}

.filter-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.result-item {
  width: calc(40% - 10px);
  margin-bottom: 20px;
}

.result-image {
  max-width: 200px;
  height: auto;
}

/* ----------------------------- */

.fabR {
  float: right;
  right: 20px;
}

.bold {
  font-weight: 700;
}

.big {
  font-size: xx-large;
}

.custom-link,
.custom-link:focus,
.custom-link:visited {
  color: #c2185b;
  text-decoration: none;
}

.custom-link:hover {
  color: #c2185b;
}

/* START Profile styles | Usados en Profile, Buscador, InitialWindow */
.profile-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
}

.profile-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  overflow: auto;
  padding-bottom: 20px;
  /* Separación de la barra de scroll */
}

.home-container ul {
  display: flex;
  justify-content: center;
  flex-direction: column;  /* Organización vertical de elementos */
  list-style: none;  /* Quita la decoración de lista */
  padding: 0;
  margin: 0;
}

/* START Profile barra scroll imágenes */
.profile-grid-container::-webkit-scrollbar {
  height: 12px;
  /* Altura de la barra de desplazamiento */
}

.profile-grid-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

/* END Profile barra scroll imágenes */

.profile-grid-item {
  position: relative;
  border: 1px solid #ccc;
  width: 400px;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

#dark .div-border {
  border-bottom: 1px dashed #CCC;
  padding: 10px;
}

#light .div-border {
  border-bottom: 1px dashed #3F3F3F;
  padding: 10px;
}

.home-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}

.profile-grid-item p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

.profile-grid-item img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-item img {
  max-width: 50%;
  height: auto;
}

.custom-link {
  cursor: pointer;
}

/* TODO: Ver si cambiar estilos modal*/
/* START Profile Modal Images */
.modal {
  position: fixed;
  /* Se mantiene fijo en la ventana */
  z-index: 1;
  /* Por encima de todo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

/* Contenido del modal */
.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#dark .modal-content {
  background-color: #555;
}

#light .modal-content {
  background-color: #fefefe;
}

/* Imagen dentro del modal */
.modal-content img {
  max-width: 100%;
  height: auto;
}

/* Botón para cerrar el modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* END Profile Modal Images */
/* END Profile styles */

@media screen and (min-width: 1200px) {
  .result-item {
    width: calc(25% - 10px);
    /* Ajusta el ancho deseado para pantallas grandes */
  }
}

/* Media para imágenes Profile */
@media screen and (max-width: 1100px) {
  .profile-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-item img {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .result-item {
    width: 100%;
  }

  .profile-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-grid-item {
    width: 665px;
    height: 665px;
  }

  .home-item img {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .onlyBigScreen {
    display: none;
  }

  .home-item img {
    max-width: 90%;
    height: auto;
  }
}